ci:
  autoupdate_schedule: quarterly
  skip:
  - shfmt
  - shellcheck
  - hadolint

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  # Git style
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-vcs-permalinks
  - id: forbid-new-submodules
  - id: no-commit-to-branch

  # Common errors
  - id: end-of-file-fixer
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    exclude: CHANGELOG.md
  - id: check-yaml
  - id: check-merge-conflict
  - id: check-executables-have-shebangs

  # Cross platform
  - id: check-case-conflict
  - id: mixed-line-ending
    args: [--fix=lf]

  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$

  # Security
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
  - id: detect-private-key

  # Detect hardcoded secrets
- repo: https://github.com/gitleaks/gitleaks
  rev: 39fdb480a06768cc41a84ef86959c07ff33091c4  # frozen: v8.28.0
  hooks:
  - id: gitleaks

# Github Action static analysis tool
- repo: https://github.com/woodruffw/zizmor-pre-commit
  rev: 3c10df247c55cf21f75003105b879f145096bd4a  # frozen: v1.14.2
  hooks:
  - id: zizmor

# YAML
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 8d1b9cadaf854cb25bb0b0f5870e1cc66a083d6b  # frozen: 0.2.3
  hooks:
  - id: yamlfmt
    args:
    - --mapping=2
    - --sequence=2
    - --offset=0
    - --width=75
    - --implicit_start

- repo: https://github.com/adrienverge/yamllint.git
  rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7  # frozen: v1.37.1
  hooks:
  - id: yamllint
    types:
    - file
    - yaml
    args:
    - --strict